* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    padding: 18px 25px;
    border-radius: 5px;
    background-color: #fff;
    color: #005FAC;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
.secondary-btn {
    padding: 18px 25px;
    border-radius: 5px;
    background-color: #005FAC;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

main {
    max-width: 1140px;
    margin: auto;
}

/* banner section styles  */
.banner {
    background-image: url(./images/banner/banner3.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.banner-parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.empty-div {
    flex: 50%;
}

.banner-description {
    text-align: right;
    flex: 50%;
    padding-right: 12%;
    color: #fff;
}

.banner-description h1 {
    font-size: 65px;
    font-weight: 700;
}

.banner-description p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    margin: 20px 0 30px 0;
}

/* about section styles  */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.about .img-div {
    flex: 50%;
}

.about-description {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.about-description h1 {
    font-size: 40px;
    color: #151414;
    font-weight: 700;
}
.about-description ul{
    list-style: none;
    list-style-position: inside;
}
.about-description p,
li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.about-description
li {
    margin-left: 5px;
}

.about-description p {
    margin: 24px 0 16px 0;
}
.custom-bullets{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -5px;
}

/* planning section  */
.planning {
    padding: 100px 0;
}

.planning .planning-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-bottom: 40px;
}

.planning .planning-topic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.planning .planning-topic h1 {
    font-weight: 700;
    font-size: 28px;
    color: #151414;
    margin: 10px 0 8px 0;
}

.planning .planning-topic p {
    font-weight: 400;
    font-size: 20px;
    color: #737272;
}

/* xtra planning section styles  */
.xtra {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('./images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 65px auto;
    border-radius: 8px;
    width: 1050px;

}

.xtra .xtra-description {
    padding: 60px 0 0 55px;
}

.xtra .xtra-description h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

/* footer styles */
footer {
    background-color: #000;
    /* color: #fff; */
    padding: 110px 0;
}

footer .footer-parent {
    width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

footer img {
    height: 35px;
    width: 35px;
}

footer .subscribe-section {
    display: flex;
    flex-direction: column;
}

footer .subscribe-section h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 30px;
}

footer #email {
    background-color: transparent;
    border: 2px solid #757575;
    outline: none;
    border-radius: 8px;
    width: 325px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 16px;
}